<h1>Comic: <%= @comic.title %></h1>
<% if flash.has?(:notice) %>
<p class="flash"><%= flash[:notice] %></p>
<% end %>
<% if flash.has?(:warning) %>
<p class="flash"><%= flash[:warning] %></p>
<% end %>
<table class="table table-bordered">
<div class="has-warning">

</div>
     <thead>
        <tr>
            <th>Id</th>
            <th>Series</th>
            <th>Author/Creator</th>
            <th>Publisher</th>
            <th>Date Published</th>
            <th>Issue #</th>
            <th>Media Type</th>
            <th>Actions</th>
        </tr>
     </thead>
     <tbody>
        <tr>
          <td><%= @comic[:id] %></td>
          <td><%= @comic[:series_name] %></td>
          <td><%= @comic[:creator] %></td>
          <td><%= @comic[:publisher] %></td>
          <td><%= prettify_date(@comic[:published_date]) %></td>
          <td><%= @comic[:issue] %></td>
          <td><%= @comic[:media_type] %></td>
          <td><a href="/comics/<%= @comic[:id] %>/edit" class="btn btn-danger">Edit</a>
              <a href="/comics/<%= @comic[:id] %>/delete" class="btn btn-danger">Delete</a>
          </td>              
        </tr>
     </tbody>
</table>
  <a href="/comics" class="btn btn-primary">All Comics</a>
<a href="/logout" class="btn btn-primary">Logout</a>